# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Model weights
*.pt
*.pth

# Build
build/
dist/

# OS files
.DS_Store
Thumbs.db

*.pt
*.pth